html {
    background-color: #d2defc;
}

.navbar {
    background-color: #041148;
}

.navbar-item {
    color: white;
    font-weight: bold;
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}


.row {
    float: left;
    display: grid;
    /* border: 1px solid black; */
}

#stage {
    width: 500px;
    height: 500px;
}

.towerSidebar {
    width: 140px;
    padding: 14px;
}


.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

canvas { position: absolute; border-radius: 2%; border: 3px solid #041148;}
#towerplacement { z-index: 4; }
#enemies { z-index: 3; }
#foreground { z-index: 2; }
#canvas { z-index: 1; }
